.Skills {
  margin-top:10px;
}
.Skills > .balloons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 100%;
}
.Skills > .balloons >div {
  display: flex;
  background-color: black;
  color: white;
  border-radius: 50%;
  margin: 5px;
  height: 30vh;
  width: 30vh;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center; 
}

@media screen and (max-width: 768px) {
  
  .Skills > .balloons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* height: 50vh; */
    margin-top:50px ;
    grid-gap: 1px;
   
    
  }
  .Skills > .balloons >div {
    height: 20vh;
    width: 20vh;
  }
 
}
