.Skills {
}
.Skills > .balloons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}
.Skills > .balloons > p {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding-top: 3%;
  margin:5px;
  height: 30vh;
  width:30vh;
  
 
}

@media screen and (max-width: 768px) {
	.Skills > .balloons > p {
        padding-top: 0.8%;
        height: 20vh;
        width:20vh;
    }
}
