#WhatsAppLink{
    display: none;
}
.Footer,
.Footer > .contact > a{
    background-color: black;
    color: white;
    /* padding:5%; */
}
.Footer > .contact > a> *{
    font-size:  30px;
    margin: 0 5px;
}
.Footer > .contact{
    /* margin-bottom: 2%/; */
}
.Footer > .contact > a> img {
	height: 30px;
    filter: invert(100%);
    margin: 0 5px;
}
.Footer > .contact > a> *:hover{
    color: grey;

}
.Footer > .contact > a> img:hover {
    filter: invert(60%);

}
.Footer>*{
    padding: 10px;
}
@media screen and (max-width: 768px) {
    #WhatsAppLink{
        display: inline;
    }
}