.Education {
  margin-bottom: 50px;
}

.Education > div > .graduation {
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;

  margin: 5px;
  padding: 5px 10px;
  color: white;
  background-color: black;
}

.Education > div > .graduation:hover {
  color: black;
  background-color: silver;
}

.Education > h2 {
  padding: 30px;
}
.ColorButton{
  margin: 0 3px;
}
